body{
    margin: 0;
    font-family:Lucida Sans;
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-color: black;
    border-bottom: 2px solid #000;
}

